.user-profile {
  width: 50px;
  height: 51px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s ease;
  background: linear-gradient(
    to bottom right,
    rgba(150, 98, 3, 0) 0%,
    rgba(46, 142, 255, 0) 30%
  );
  background-color: rgba(150, 98, 3, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-profile:hover,
.user-profile:focus {
  background-color: rgba(150, 98, 3, 0.7);
  box-shadow: 0 0 10px rgba(150, 98, 3, 0.7);
  outline: none;
}

.user-profile-inner {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: #fff;
  font-weight: 600;
}

.user-profile-inner svg {
  width: 27px;
  height: 27px;
  margin-left: 5px;
  fill: #fff;
}
